#x-slider-slider-image-container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: 5px solid #EEE;
}

#x-slider-slider-image-container img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: block;
}

#x-slider-slider-image-info {
    display: none;
}

#x-slider-remove-slider {
    color: #a00;
}

.x-slider-remove-slider-container {
    float: right;
}

.x-slider-remove-slider-container p {
    margin: 0;
}

.x-slider-enable-container {
    float: left;
}

#x-slider-choose-slider {
    display: block;
    text-align: center;
}

.x-slider-no-bottom {
    margin-bottom: 0;
}